body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: 2rem 4rem;
  background-color: tomato;
}

/* product styling */

.App{
  border: 1px solid rgb(226, 223, 223);
  background-color: white;
}

.itemList {
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(32, 32, 32, 0.3);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemList .itemBox {
  align-items: center;
  margin: 6px 8px 12px 8px;
}

.itemList .itemPic {
  margin-bottom: 10px;
  width: 21rem;
  height: 20rem;
}

.itemList .itemName {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(37, 36, 36);
}

.itemList .itemPrice {
  margin-bottom: 10px;
  color:tomato;
}

.itemList .itemBtn {
  display: inline-block;
  background-color: rgb(68, 67, 67);
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.itemBtnGray {
  display: block;
  background-color: rgb(214, 213, 213);
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 12px 0;
  width: 100%;
  cursor: not-allowed;
  outline: none;
}

.itemList .itemBtn:hover {
  background-color: #777;
}

/* product styling end */

/* cart styling */

.cartContainer{
  margin: 0 17rem;
}

.cartContainer .cartHeading {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.cartContainer .carts {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(156, 153, 153);
  padding-bottom: 3rem;
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total h3{
  color: red;
  font-weight: 600;
}

.total h3 span{
  color: rgb(78, 76, 76);
  font-weight: 900;
  font-family: serif;
  font-size: 24px;
}

.total .paymentBtn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  background-color: rgb(7, 153, 7);
  color: #ffffff;
  font-size: 22px;
  padding: 10px 18px;
  transition: all 0.5s;
  cursor: pointer;
}

.total .paymentBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.total .paymentBtn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.total .paymentBtn:hover span {
  padding-right: 25px;
}

.total .paymentBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.total .paymentBtn:hover {
  background-color: rgb(3, 119, 3);
}

.cartList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 13px 0;
}

.cartImg{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartImg .pics {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-right: 6rem;
}

.cartInfo .cartProduct {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 22px;
  color: rgb(34, 33, 33);
  margin-bottom: 0.9rem;
}

.cartInfo .cartPrice {
  color: green;
  font-size: 18px;
  font-family: monospace;
}

.cartInfo .cartPrice span{
  font-size: 20px;
  font-weight: bold;
}

.cartInfo .deletBtn{
  display: inline-block;
  text-transform: uppercase;
  border: none;
  color: tomato;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  margin-top: 1.8rem;
  margin-left: -6px;
  transition: all 0.2s;
}

.cartInfo .deletBtn:hover{
  color: #e72424;
  text-shadow: 1px 1px 2px rgb(247, 116, 93);
}

.countButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countButtons span{
  color: green;
  font-weight: 600;
}

.countButtons .decrease{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: .5rem;
  border: none;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: tomato;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.countButtons .increase{
  font-size: 30px;
  font-weight: 700;
  margin-top: .7rem;
  border: none;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: tomato;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.countButtons .decrease:hover,
.countButtons .increase:hover{
  color: #e72424;
  text-shadow: 1px 1px 2px rgb(247, 116, 93);
}

.cartEmpty {
  text-align: center;
  text-transform: uppercase;
  font-family: fantasy;
  color: #e72424;
}

/* cart styling end*/

/* footer styling */

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(226, 223, 223);
  color: tomato;
  height: 4rem;
  margin-top: 2rem;
}

.footer .footerText{
  display: inline-block;
  text-transform: uppercase;
  font-family: monos;
}

.footer span{
   position: relative;
   bottom: 10px;
   font-size: 17px;
}

/* footer styling end */

/* payment styling */

.stripePayment{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stripePayment .heading{
  text-transform: uppercase;
  font-weight: light;
}

.stripePayment .heading span{
  color: rgba(0, 0, 255, 0.562);
}

/* payment styling end */
